<div class="modal fade" id="delete_link1" tabindex="-1" aria-labelledby="jobDeleteLabel1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
      <div class="modal-content">
        <div class="modal-body px-4 py-5 text-center">
          {% comment %} <button type="button" class="btn-close position-absolute end-0 top-0 m-3" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
          {{ children }}
        </div>
      </div>
    </div>
  </div>