{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
    
    
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}

    {% #modal title= "Details with #:" + {group.id} %}
        <div class="d-flex mb-2">
            <img src="{% static 'images/companies/wechat.svg' %}" alt="" height="50">
            <div class="flex-grow-1 ms-3">
                <h5 class="fw-semibold">{{group.name}}</h5>
            </div>
        </div>

        <h5 class="fw-semibold mb-3">Responsibilities:</h5>
        {% for data in group_permissions %}
        <ul class="vstack gap-3">
            <li>
                {{data.name}}
            </li>

        </ul>
        {% endfor %}

        <div class mb-2 mt-2>
            <a href="{% url 'authentication:group-list' %}" class="btn btn-primary">Close</a>

        </div>
        
    {%/modal %}
{% comment %} {% block extra_javascript %}
   
{% endblock %} {% endcomment %}
{% endblock %}