
{% extends 'partials/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}
<div class="row">
    <div class="col-lg-12">
       {% #card title="Sub Devision" %}
          {% if request.user.is_superuser %}
          <div class="m-3">
            {% #form %}
                {% csrf_token %}
                <div class=" row mb-3">
                    <div class="col-3 col-sm-12 col-md-3">
                        <label for="formrow-name-input" class="form-label">Select Institution</label>
                        {{form.tenant_id|as_crispy_field}}
                    </div>
                    <div class="col-3 col-sm-12 col-md-3">
                        <label for="formrow-name-input" class="form-label">Select User</label>
                        {{form.user_id|as_crispy_field}}
                    </div>
                    <div class="col-3 col-sm-12 col-md-3">
                        <label for="formrow-region-input" class="form-label">Select Classification</label>
                        {{form.classification|as_crispy_field}}
                    </div>
                    <div class="col-3 col-sm-12 col-md-3">
                        <label for="formrow-region-input" class="form-label">Select Approval Type</label>
                        {{form.type_of_approval|as_crispy_field}}
                    </div>
                    
                </div>
                
                <div class="mb-2">
                    {% var class=class|default:"btn btn-primary w-md" %}
                    {% #button {% attrs class %} Save {% /button %}
                </div>
            {% /form %}
        
        </div>
          {% else %}
          <div class="m-3">
            {% #form %}
                {% csrf_token %}
                <div class=" row mb-3">
                    <div class="col-4 col-sm-12 col-md-4">
                        <label for="formrow-name-input" class="form-label">Select User</label>
                        {{form.user_id|as_crispy_field}}
                    </div>
                    <div class="col-4 col-sm-12 col-md-4">
                        <label for="formrow-region-input" class="form-label">Select Classification</label>
                        {{form.classification|as_crispy_field}}
                    </div>
                    <div class="col-4 col-sm-12 col-md-4">
                        <label for="formrow-region-input" class="form-label">Select Approval Type</label>
                        {{form.type_of_approval|as_crispy_field}}
                    </div>
                    
                </div>
                
                <div class="mb-2">
                    {% var class=class|default:"btn btn-primary w-md" %}
                    {% #button {% attrs class %} Save {% /button %}
                </div>
            {% /form %}
        
        </div>
          {% endif %}
           
        {% /card %}
        <!--end card-->
       
</div>

{% endblock %}




tenant_id = forms.ModelChoiceField(label=False, queryset=Tenants.objects.all(),required=False)
user_id = forms.ModelChoiceField(label=False, queryset=User.objects.all())
classification = forms.ChoiceField(choices = sts,label=False)
type_of_approval = forms.ChoiceField(choices = st,label=False)