
{% extends 'partials/fixedassets/fixedassetsbase.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    
    <!-- DataTables -->
    <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />

    <!-- Responsive datatable examples -->
    <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />  
    <link href="{% static 'libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" rel="stylesheet" type="text/css">
    {% comment %} <link href="{% static 'libs/select2/css/select2.min.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}
    <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

{% endblock %}
{% block contents %}
<div class="row">
    <div class="col-lg-12">
        {% #card title="List Of IPSAS CATEGORY" %}
        
        <div class="table-responsive">
            {% if perms.fixedassets.custom_create_IPSAS_category %}
                <div class="flex-shrink-0 d-flex justify-content-end mb-1" >
                    <a href="{% url 'fixedassets:new-ipsascategory' %}" class="btn btn-primary m-2 ">Add New IPSAS Category</a>
                    <a href="{% url 'fixedassets:upload-ipsascategory' %}" class="btn btn-success  ml-2 mt-2 mb-2">Upload IPSAS Category</a>
                </div>
            {% endif %}
            {% #table %}
                {% #thead %}
                    {% #tr name ="headrow" %}
                        {% #th name ="headid" %}ID{% /th %}
                        {% #th name ="headName" %}Name{% /th %}
                        {% #th name ="headName" %}Classification{% /th %}
                        {% #th name ="headName" %}GFS Category{% /th %}
                        
                            {% #th name ="headAction" %} Action {% /th %}
                        
                    {% /tr %}
                {% /thead%}
                {% #tbody %}
                    {% for data in ipsascategory_list  %}
                        {% #tr name ="bodyrow" %}
                            {% #td name ="groupid" %}{{data.id}}{% /td %}
                            {% #td name ="groupname" %}{{data.name}}{% /td %}
                            {% #td name ="groupname" %}{{data.classification.name}}{% /td %}
                            {% #td name ="groupname" %}{{data.gfscategory.code}}-{{data.gfscategory.name}}{% /td %}
                            {% if perms.fixedassets.custom_create_IPSAS_category %}
                                {% #td name ="groupaction" %}
                                
                                    {% #actions name ="groupedit" %}
                                  
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Edit">
                                            <a href="{% url 'fixedassets:edit-ipsascategory' data.id %}" class="btn btn-sm btn-soft-info"><i class="mdi mdi-pencil-outline"></i></a>
                                        </li>
                                    
                                        <li data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete">
                                            
                                            <a href="#delete_link" id="delete-record" data-record-id="{{ data.id }}" data-bs-toggle="modal" class="delete-record btn btn-sm btn-soft-danger" data-target="#jobDelete"><i class="mdi mdi-delete-outline"></i></a>
                                        </li>
                                       
                                    
                                    {% /actions %}
                                
                                {% /td %}
                            {% endif %}
                        {% /tr %}
                    {% endfor %}
                {% /tbody %}
            {% /table %}
           
            <!-- end table -->
        </div>
        {% /card %}
        <!--end card-->
       
</div>

{% endblock %}

{% block extra_content %}  
    {% #comfirmation   %}
        {% #avatar %}
            <i class="mdi mdi-trash-can-outline"></i>     
        {% /avatar %} 
        {% #comfirmationtext %}
            Are you sure you want to permanently delete this IPSAS Category
        {% /comfirmationtext %} 

        {% #comfirmation_footer %}
            <a href="#" id ="deleteModalAnchor" class="btn btn-danger">Delete Now</a>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        {% /comfirmation_footer %}     
    {% /comfirmation %}
 


{% endblock %}

{% block extra_javascript %}

     <!-- Required datatable js -->
     <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
     <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
     <script src="{% static 'libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
     <!-- Buttons examples -->
     <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
     <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
     <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
     <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
     <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
     <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
     <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
     <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
     
     <!-- Responsive examples -->
     <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
     <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

     <!-- Datatable init js -->
     <script src="{% static 'js/pages/datatables.init.js' %}"></script>
     
    {% comment %} <script src="{% static 'js/auto_modal.js' %}"></script> {% endcomment %}

     <script>
        document.addEventListener("DOMContentLoaded", function() {
            var deleteAnchors = document.getElementsByClassName("delete-record");
            var deleteModalAnchor = document.getElementById("deleteModalAnchor");
            Array.from(deleteAnchors).forEach(function(anchor) {
              anchor.addEventListener("click", function(event) {
                event.preventDefault();
                var recordId = this.getAttribute("data-record-id"); 
                deleteModalAnchor.setAttribute("data-record-id", recordId);
                deleteModalAnchor.setAttribute("href", "/fixedassets/ipsascategory/" + recordId + "/delete/");
                deleteModalAnchor.style.display = "block";
              });
            });
          });
     </script>

{% endblock %}









